html {
    background-image: url("https://www.usnews.com/dims4/USNEWS/e7cf3e3/2147483647/thumbnail/970x647/quality/85/?url=https%3A%2F%2Fwww.usnews.com%2Fcmsmedia%2F55%2F1a%2F4d22737c4537af16461ac1a14c3e%2F140703-homesneighborhood-stock.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}

header {
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline;
}

body {
    text-align: center;
    font-size: 18px;
    background-color: rgb(136, 206, 253);
    opacity: 0.99;
    border-radius: 10px;
}

main {
    font-size: 24px;
}

footer {
    position: absolute;
    top: 25px;
    right: 15px;
}

footer img {
    padding: 10px;
}

input{
    height: auto;
}

text {
    font-size: medium;
    margin-top: 50px;
}

// Class selectors
.hidden {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    height: 0px;
    margin: 0px;
}

.visible1 {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.visible2 {
    opacity: 1;
    transition: opacity 3s ease-in-out;
}

.visible3 {
    opacity: 1;
    transition: opacity 5s ease-in-out;
}

/* The following styles make the hover-description boxes visible only on hover */
.hover-description {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    position: absolute;
    z-index: 1;
    background-color: #333;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
}

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
}

.dot {
    fill: steelblue;
    stroke: none;
}

.form-label {
    text-decoration: underline;
}

label:hover .hover-description {
    visibility: visible;
    opacity: 1;
}

// ID selectors
#creditscore_poor {
    background-color: rgb(185, 24, 24);
    border-radius: 2px;
}

#creditscore_average {
    background-color: rgb(221, 224, 17);
    border-radius: 2px;
}

#creditscore_good {
    background-color: rgb(18, 100, 224);
    border-radius: 2px;
}

#creditscore_excellent {
    background-color: rgb(10, 128, 26);
    border-radius: 2px;
}

#chart {
    width: 80%;
    height: 400px;
    margin: 50px auto;
    font-size: large;
}

#main-paragraph {
    color: black;
}

#div svg{
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

#chart-title {
    text-decoration: underline;
    font-size: 16;
    font-weight: 700;
}

/* CSS code to center the slider divs */
.slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

input[type="range"] {
    width: 150px;
    height: 30px;
}

input[type="radio"] {
    padding: 10px;
}
